<a href="https://colab.research.google.com/github/kkkukkk/ai/blob/main/Day_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Fibonacci

#1 일반식

def fib(n): # n 번째의 피보나치 수열 값을 찾는 함수
  a,b = 1,1
  if n ==1 or n==2: # 1번째와 2번째의 값은 1
    return 1
  for i in range(1,n): # 1번째 부터 n번째 까지
    a,b = b,a+b
  return a

fib(8)

21

In [ ]:
# 2 재귀 Recursive

def fib(n) : # n번째의 피보나치 수열 값을 찾는 함수
  if n == 1 or n == 2:
    return 1
  else:
    return fib(n-1) + fib(n-2)

fib(4)

3

In [ ]:
# 3 람다

fib = lambda n: 1 if n <=2 else fib(n-1) + fib(n-2)
fib(5)

In [ ]:
list = []

def fib(n):
  x,y = 0,1
  if n == 1 or n == 2:
    list.append(n)
  for i in range(1,n+1):
    x,y = y,x+y
    list.append(x)
  return list

fib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
# 2D lists 2차원 리스트 vs pandas's dataframe
#           math    korean
# austin    90         80
# rick       80         85
# andy    100         70

grade = [[90,80],[80,85],[100,70]]

grade[2][0]

100

In [ ]:
# Ask the user to enter the name, age and shoe size for four people.
# Ask for the name of one of people in the list and
# display their age and shoe size

info = []
for i in range(4):
  n = input('Enter your name : ')
  a = input('Enter your age : ')
  s = input('Enter your shoe size : ')
  info.append([n,a,s])
ask = input('Enter name of people : ')
for i in info:
  if i[0]==ask:
    print(f'Age is : {i[1]}')
    print(f'Shoe size is : {i[2]}')

Enter your name : 1
Enter your age : 2
Enter your shoe size3
Enter your name : 4
Enter your age : 5
Enter your shoe size6
Enter your name : 7
Enter your age : 8
Enter your shoe size9
Enter your name : 10
Enter your age : 11
Enter your shoe size12
Enter name of people : 4
Age is : 5
Shoe size is : 6

In [ ]:
# After gathering the four names, ages and shoe sizes,
# ask the user to enter the name of person they want to move from the dict.
# Delete this row from the data and display the other rows on seperate lines.

dict = {}
for i in range(3):
  n = input('Enter your name : ')
  a = input('Enter your age : ')
  s = input('Enter your shoe size : ')
  dict[n]={'Age':a,'Shoe':s}
ask = input('Enter the name of people : ')
del(dict[ask])

for i in dict:
  print(i, dict[i]['Age'], dict[i]['Shoe'])

Enter your name : a
Enter your age : 2
Enter your shoe size : 3
Enter your name : b
Enter your age : 2
Enter your shoe size : 3
Enter your name : c
Enter your age : 2
Enter your shoe size : 3
Enter the name of people : b
a 2 3
c 2 3

In [ ]:
# Reading and Writing to a File

# It is all very well being able to define a list, make changes and add new data,
# but if the next time the probram is run it returns to the original data and your
# changes are lost then it is not a lot of use.
# Therefore, It is sometimes necessary to save the data outside of the program
# and this way the data can be stored.
# along with any changes that are made.

# write
file = open('Countries.txt', 'w')
file.write('Italy\n')
file.write('Germany\n')
file.write('Spain\n')
file.close()

In [ ]:
# read
file = open('Countries.txt','r')
print(file.read())

Italy
Germany
Spain
France

In [ ]:
# 수정
file = open('Countries.txt','a')
file.write('France\n')
file.close()

In [31]:
while True :
  print('----------------------------------')
  print('1) Create a new file')
  print('2) Display the file')
  print('3) Add a new item to the file')
  print('----------------------------------')
  sel = int(input('Make a selection 1,2, or 3, if you want to quit, enter 4 : '))
  if sel == 1:
    sub = input('Enter the subject name : ')
    try:
      file = open(f'{sub}.txt','x')
      file.close()
      print('Complete!')
    except:
      print('File already exists Please enter another name!')
  elif sel == 2:
    name = input('Enter the file name : ')
    file = open(f'{name}.txt','r')
    print(file.read(),'\n')
  elif sel == 3:
    ask = input('Enter a file name : ')
    file = open(f'{ask}.txt','a')
    todo = input('Enter anything you want to append in file : ')
    file.write(f'{todo}\n')
    file.close()
    file = open(f'{ask}.txt','r')
    print(file.read(),'\n')
  elif sel == 4:
    print('Bye!')
    break
  else:
    print('Please select 1,2,3 or 4')

----------------------------------
1) Create a new file
2) Display the file
3) Add a new item to the file
----------------------------------
Make a selection 1,2, or 3, if you want to quit, enter 4 : 4
Bye!