<a href="https://colab.research.google.com/github/kkkukkk/ai/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###################################
# Review
###################################

# Comment        주석 - 코드에 대한 설명, 컴퓨터는 읽지 않고 사람만
#                읽는 내용, 또 다른 용법으로는 코드를 임시로
#                실행하지 않고 감추고 에러를 확인하는 용도로도 사용된다.
#                본인이 기록한 내용을 나중에 확인할 때 또는 다른 팀원이
#                작성한 내용을 파악하기 용이하게 만든다.

# #을 사용하여 주석을 표시한다. ('ctrl + /')

# doc string (주석의 용도로도 쓰이는...)
'''
작성일 : 2022/01/26
담당자 : 박진욱
비고: jin960828@naver.com
'''
"""
작성일 : 2022/01/26
담당자 : 박진욱
비고: jin960828@naver.com
"""
# 코드의 위쪽 또는 오른쪽에 주석을 붙인다.
print('Hello World')  # 코드의 우측 또는 코드의 윗줄에 적는다.

In [ ]:
# 변수 Variable
# 어떤 값을 저장하는 저장소 (a- 짜리 설명)
a = 100
print(a)

stumath = 350
stu_math_sum = 350 # 스네이크 케이스 (단어사이에 _ 를 넣어서 표현) snake_case
StuMathSum = 350 # 캐멀 케이스 (첫 단어를 대문자로 표현) CamelCase

In [ ]:
# 1a = 100 숫자가 먼저 올 수 없다.
a1 = 100

In [ ]:
# _는 변수명으로 사용 가능
# 이외 특수문자는 거의 불가능
_a = 100
print (_a)

100

In [ ]:
# 한글 변수명 사용 가능
홍길동 = 55
# 사용이 가능하지만 아예 쓰지 말자

In [ ]:
# 인덱싱 (슬라이싱)

s = 'world'
print(s[2]) # 문자열 중 두번째 문자 출력 (파이썬은 인덱스 시작이 0)
print(s[-1]) # -1은 문자열의 마지막 인덱스
print(s[4])

ss = '900101-2547389'
print(ss[7])
addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7]) # 컴퓨터는 빈칸도 인덱스로 (슬라이싱)

r
d
d
2
강남구

In [ ]:
when = '저녁'
print('좋은 ',when,'입니다.')

좋은  저녁 입니다.

In [7]:
when = '저녁'
print('좋은',when,'입니다.')

print('좋은 %s입니다.' %when)
print('좋은 {}입니다.' .format(when))

print(f'좋은 {when}입니다.') # *****

좋은 저녁 입니다.
좋은 저녁입니다.
좋은 저녁입니다.
좋은 저녁입니다.

In [16]:
##############################################
# 리스트 List 튜플 Tuple 딕셔너리 Dict 셋 Set
##############################################
# 여러개의 값을 한번에 저장하는 자료형이 필요하다.

# 리스트 List
# 지금까지 사용한 숫자 1, 문자 1 등 개별적, 독립적인 자료가 아닌
# 리스트는 이러한 자료들 여러개를 모아서 사용할 수 있게 해준다.
# 리스트에 넣는 자료를 요소(element)라고 한다.

# 리스트는 []로 구성한다.
list = [1,2,3,4,5]
print(list)
# 리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다.
# (but, 하나의 리스트에는 한가지 자료형만 저장하는 것이 오히려 바람직하다)
list = [1,2,3,'대한','민국',True,False]
print(list)
score = [80,90,70,60]
print(score)

# 리스트는 인덱싱(indexint)과 슬라이싱(slicing)이 가능하다.
print(score[0])   # 파이썬은 0부터 시작한다.
print(score[0:2]) # 슬라이싱은 0부터 2미만...처럼 끝은 미만을 나타낸다.

# 리스트는 수정/삭제 가 가능하다. (mutable) / 튜플은 불가능 (immutable)
score[0] = 100
print(score)
score[-1] = 100
print(score)
# score[4] # indexerror 아주 많이 접하게 될 에러(예외)

# 리스트는 연산이 가능하다.
list_a = [1,2,3]
list_b = [4,5,6]
print('list_a = ', list_a)
print('list_b = ', list_b)
print(list_a+list_b)
print(list_a*3)
print(len(list_a))

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국', True, False]
[80, 90, 70, 60]
80
[80, 90]
[100, 90, 70, 60]
[100, 90, 70, 100]
list_a =  [1, 2, 3]
list_b =  [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [20]:
# 리스트에 자주 사용되는 함수들...

# append() (*****) 리스트에 요소를 추가할 때 사용, 끝에만 추가
print(score)
score.append(60)
print(score)
score.append(70)
print(score)

[100, 90, 70, 100, 60, 60, 70]
[100, 90, 70, 100, 60, 60, 70, 60]
[100, 90, 70, 100, 60, 60, 70, 60, 70]

In [24]:
# insert() 리스트에 요소를 추가할 때 사용, 특정 위치를 지정하여 추가

list = []
list.insert(0,10)
print(list)

list.insert(-1, 50)
print(list)

# append를 주로 사용한다.

[10]
[50, 10]

In [27]:
list_a = [1,2,3]
list_a.extend([4,5,6]) # extend는 리스트에 여러개를 집어넣을 때 사용

print(list_a) # 파괴적 처리

[1, 2, 3, 4, 5, 6]

In [31]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list_a + list_b)
print(list_a)

# 덧셈은 결과가 서로 붙긴 하지만 extend 처럼 값이 저장되지 않음
# 비파괴적 처리
# 리스트 연결만으로는 list_a에 어떠한 영향도 주지 않는다. (비파괴적 처리)
# 하지만 extend() 를 사용하면 list_a에 직접적으로 영향을 주게 된다.(파괴적 처리)

# 원래 자료를 사용할 때는 비파괴적으로 사용하는 것이 바람직하다.
# 가능하면 원본데이터는 그대로 유지하고 사용하는 것이 선택지가 더 넓다.

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [33]:
# del() 리스트에서 데이터 삭제

list_a = [0,1,2,3,4,5]
del list_a[1] # index 값으로 위치값을 삭제
list_a

del list_a[1:3] # del은 범위 삭제가 가능, (1부터 3미만 즉 2까지 삭제)
list_a

del list_a[:] # 생략하면 처음부터 끝까지
print(list_a)

# list_a.clear() 리스트 요소를 전부 한번에 삭제

[0, 2, 3, 4, 5]

In [36]:
# pop() 리스트에서 마지막 위치 데이터 삭제
list_a.pop()
list_a

[0, 2]

In [39]:
list_a = [0,1,2,3,4,5]
list_a.pop(1) # 특정 위치 데이터도 삭제가 가능하지만 마지막 데이터 삭제용으로 주로 사용
list_a

[0, 2, 3, 4, 5]

In [45]:
# remove 특정 값으로 삭제

list_c = [1,2,1,2]
                 # remove 는 요소의 값을 찾아 삭제한다. 
                 # 동일한 값이 여러개 있을때는 하나씩 순차적으로 삭제한다. 
                 # 리스트에서 중복된 여러개의 값을 제거하려면 반복문을 사용한다.
list_c.remove(2)
print (list_c)

list_c.remove(2)
print(list_c)

[1, 1, 2]
[1, 1]

In [46]:
list = [1,2,3,4,5]
print(list[0]) # indexing 비파괴적으로 동작한다.
print(list)

print(list.pop()) # pop은 파괴적으로 동작한다.
print(list)

1
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]

In [52]:
# in / not in 리스트에 존재하는 요소인지를 확인

list = [222,434,65,123,547,876]
print(222 in list) # in 리스트에 존재하는지 (있으면 True, 없으면 False)
print(221 in list)
print(221 not in list) # not in 리스트에 존재하지 않는지 (있으면 False, 없으면 True)

True
False
True

In [ ]:
# 딕셔너리