<a href="https://colab.research.google.com/github/kkkukkk/ai/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###################################
# Review
###################################

# Comment        주석 - 코드에 대한 설명, 컴퓨터는 읽지 않고 사람만
#                읽는 내용, 또 다른 용법으로는 코드를 임시로
#                실행하지 않고 감추고 에러를 확인하는 용도로도 사용된다.
#                본인이 기록한 내용을 나중에 확인할 때 또는 다른 팀원이
#                작성한 내용을 파악하기 용이하게 만든다.

# #을 사용하여 주석을 표시한다. ('ctrl + /')

# doc string (주석의 용도로도 쓰이는...)
'''
작성일 : 2022/01/26
담당자 : 박진욱
비고: jin960828@naver.com
'''
"""
작성일 : 2022/01/26
담당자 : 박진욱
비고: jin960828@naver.com
"""
# 코드의 위쪽 또는 오른쪽에 주석을 붙인다.
print('Hello World')  # 코드의 우측 또는 코드의 윗줄에 적는다.

In [ ]:
# 변수 Variable
# 어떤 값을 저장하는 저장소 (a- 짜리 설명)
a = 100
print(a)

stumath = 350
stu_math_sum = 350 # 스네이크 케이스 (단어사이에 _ 를 넣어서 표현) snake_case
StuMathSum = 350 # 캐멀 케이스 (첫 단어를 대문자로 표현) CamelCase

In [ ]:
# 1a = 100 숫자가 먼저 올 수 없다.
a1 = 100

In [ ]:
# _는 변수명으로 사용 가능
# 이외 특수문자는 거의 불가능
_a = 100
print (_a)

100

In [ ]:
# 한글 변수명 사용 가능
홍길동 = 55
# 사용이 가능하지만 아예 쓰지 말자

In [ ]:
# 인덱싱 (슬라이싱)

s = 'world'
print(s[2]) # 문자열 중 두번째 문자 출력 (파이썬은 인덱스 시작이 0)
print(s[-1]) # -1은 문자열의 마지막 인덱스
print(s[4])

ss = '900101-2547389'
print(ss[7])
addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7]) # 컴퓨터는 빈칸도 인덱스로 (슬라이싱)

r
d
d
2
강남구

In [ ]:
when = '저녁'
print('좋은 ',when,'입니다.')

좋은  저녁 입니다.

In [ ]:
when = '저녁'
print('좋은',when,'입니다.')

print('좋은 %s입니다.' %when)
print('좋은 {}입니다.' .format(when))

print(f'좋은 {when}입니다.') # *****

좋은 저녁 입니다.
좋은 저녁입니다.
좋은 저녁입니다.
좋은 저녁입니다.

In [ ]:
##############################################
# 리스트 List 튜플 Tuple 딕셔너리 Dict 셋 Set
##############################################
# 여러개의 값을 한번에 저장하는 자료형이 필요하다.

# 리스트 List
# 지금까지 사용한 숫자 1, 문자 1 등 개별적, 독립적인 자료가 아닌
# 리스트는 이러한 자료들 여러개를 모아서 사용할 수 있게 해준다.
# 리스트에 넣는 자료를 요소(element)라고 한다.

# 리스트는 []로 구성한다.
list = [1,2,3,4,5]
print(list)
# 리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다.
# (but, 하나의 리스트에는 한가지 자료형만 저장하는 것이 오히려 바람직하다)
list = [1,2,3,'대한','민국',True,False]
print(list)
score = [80,90,70,60]
print(score)

# 리스트는 인덱싱(indexint)과 슬라이싱(slicing)이 가능하다.
print(score[0])   # 파이썬은 0부터 시작한다.
print(score[0:2]) # 슬라이싱은 0부터 2미만...처럼 끝은 미만을 나타낸다.

# 리스트는 수정/삭제 가 가능하다. (mutable) / 튜플은 불가능 (immutable)
score[0] = 100
print(score)
score[-1] = 100
print(score)
# score[4] # indexerror 아주 많이 접하게 될 에러(예외)

# 리스트는 연산이 가능하다.
list_a = [1,2,3]
list_b = [4,5,6]
print('list_a = ', list_a)
print('list_b = ', list_b)
print(list_a+list_b)
print(list_a*3)
print(len(list_a))

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국', True, False]
[80, 90, 70, 60]
80
[80, 90]
[100, 90, 70, 60]
[100, 90, 70, 100]
list_a =  [1, 2, 3]
list_b =  [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [ ]:
# 리스트에 자주 사용되는 함수들...

# append() (*****) 리스트에 요소를 추가할 때 사용, 끝에만 추가
print(score)
score.append(60)
print(score)
score.append(70)
print(score)

[100, 90, 70, 100, 60, 60, 70]
[100, 90, 70, 100, 60, 60, 70, 60]
[100, 90, 70, 100, 60, 60, 70, 60, 70]

In [ ]:
# insert() 리스트에 요소를 추가할 때 사용, 특정 위치를 지정하여 추가

list = []
list.insert(0,10)
print(list)

list.insert(-1, 50)
print(list)

# append를 주로 사용한다.

[10]
[50, 10]

In [ ]:
list_a = [1,2,3]
list_a.extend([4,5,6]) # extend는 리스트에 여러개를 집어넣을 때 사용

print(list_a) # 파괴적 처리

[1, 2, 3, 4, 5, 6]

In [ ]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list_a + list_b)
print(list_a)

# 덧셈은 결과가 서로 붙긴 하지만 extend 처럼 값이 저장되지 않음
# 비파괴적 처리
# 리스트 연결만으로는 list_a에 어떠한 영향도 주지 않는다. (비파괴적 처리)
# 하지만 extend() 를 사용하면 list_a에 직접적으로 영향을 주게 된다.(파괴적 처리)

# 원래 자료를 사용할 때는 비파괴적으로 사용하는 것이 바람직하다.
# 가능하면 원본데이터는 그대로 유지하고 사용하는 것이 선택지가 더 넓다.

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [ ]:
# del() 리스트에서 데이터 삭제

list_a = [0,1,2,3,4,5]
del list_a[1] # index 값으로 위치값을 삭제
list_a

del list_a[1:3] # del은 범위 삭제가 가능, (1부터 3미만 즉 2까지 삭제)
list_a

del list_a[:] # 생략하면 처음부터 끝까지
print(list_a)

# list_a.clear() 리스트 요소를 전부 한번에 삭제

[0, 2, 3, 4, 5]

In [ ]:
# pop() 리스트에서 마지막 위치 데이터 삭제
list_a.pop()
list_a

[0, 2]

In [ ]:
list_a = [0,1,2,3,4,5]
list_a.pop(1) # 특정 위치 데이터도 삭제가 가능하지만 마지막 데이터 삭제용으로 주로 사용
list_a

[0, 2, 3, 4, 5]

In [ ]:
# remove 특정 값으로 삭제

list_c = [1,2,1,2]
                 # remove 는 요소의 값을 찾아 삭제한다. 
                 # 동일한 값이 여러개 있을때는 하나씩 순차적으로 삭제한다. 
                 # 리스트에서 중복된 여러개의 값을 제거하려면 반복문을 사용한다.
list_c.remove(2)
print (list_c)

list_c.remove(2)
print(list_c)

[1, 1, 2]
[1, 1]

In [ ]:
list = [1,2,3,4,5]
print(list[0]) # indexing 비파괴적으로 동작한다.
print(list)

print(list.pop()) # pop은 파괴적으로 동작한다.
print(list)

1
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]

In [ ]:
# in / not in 리스트에 존재하는 요소인지를 확인

list = [222,434,65,123,547,876]
print(222 in list) # in 리스트에 존재하는지 (있으면 True, 없으면 False)
print(221 in list)
print(221 not in list) # not in 리스트에 존재하지 않는지 (있으면 False, 없으면 True)

True
False
True

In [ ]:
# Dict 딕셔너리 (java 의 map, JS 의 json 과 유사한 자료구조)
# 리스트가 인덱스를 기반으로 값을 저장한다면 딕셔너리는 키값을 기반으로 값을 저장한다.

# {} 를 사용하여 데이터들을 저장한다. 
# 삽입/삭제 가 가능하다. mutable
# 순서가 없으므로 인덱싱과 슬라이싱이 불가능하다.

dict = {
    "name" : "엔드 게임", # "key값" : "value값"
    "no" : 1,
    "type" : "히어로 무비",
    "price" : 10000

}
print(dict)
dict['name'] # key 값으로 저장했던 데이터 불러오기

{'name': '엔드 게임', 'no': 1, 'type': '히어로 무비', 'price': 10000}

'엔드 게임'

In [ ]:
dict = {
    "감독" : ["안소니","루소"], # value값을 list로 여러개를 넣을 수 있음
    "배우" : ["타노스","토르","헐크"]
}
dict["감독"]

['안소니', '루소']

In [ ]:
dict = {
    'name' : '건조 망고', # value 값을 하나 혹은 여러개를 넣을 수 있음
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin' : '필리핀'
}

print('name:', dict['name'])
print('type:', dict['type'])
print('ingredient:', dict['ingredient'])
print('origin:', dict['origin'])


dict['name'] = '망고' # key값을 호출하여 value값 변경
print('name:', dict['name'])

print(dict['ingredient'][0]) # dict 안의 list의 0번째 값을 출력

dict['price'] = 5000 # dict에 없는 key와 value 추가 가능

print(dict)

dict['price'] = 4000 # 들어간 key의 value 변경

print(dict)

# 삭제
del dict['price'] # price에 해당하는 key값을 삭제
print(dict)

name: 건조 망고
type: 절임 과일
ingredient: ['망고', '설탕', '색소']
origin: 필리핀
name: 망고
망고
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 5000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 4000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [ ]:
dict = {}

dict['name'] = '새이름'
dict['height'] = 185
dict['weight'] = 75

print (dict)

del dict['weight']

print (dict)

{'name': '새이름', 'height': 185, 'weight': 75}
{'name': '새이름', 'height': 185}

In [ ]:
# dict 자주 등장하는 에러(예외)

# KeyError 리스트에서 없는 인덱스에 접근하려고 하면 indexError 가 발생되는 것처럼
#          딕에서도 존재하지 않는 키값을 사용하면 예외 또는 에러를 발생시킨다.
dict = {
    'name' : '건조 망고', # value 값을 하나 혹은 여러개를 넣을 수 있음
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin' : '필리핀'
}

# del dict['nana'] # 없는 key값을 사용했으므로 에러

In [ ]:
dict = {
    'name' : '건조 망고', # value 값을 하나 혹은 여러개를 넣을 수 있음
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin' : '필리핀'
}

key = input('> 삭제를 원하는 데이터의 키값을 입력하세요 : ')

if key in dict :
  print(dict[key])
else :
  print('존재하지 않은 키에 접근하고 있습니다.')

> 삭제를 원하는 데이터의 키값을 입력하세요 : origin
필리핀

In [ ]:
# 튜플 tuple
# () 를 사용하여 작성한다.
# 리스트와 거의 대부분 유사하나, 튜플은 삽입,수정 등이 불가능하다 (immutable)
# 튜플은 1개의 원소로 작성할 때는 ,를 삽입한다. ex) (1,) (1,2)
# 튜플은 괄호를 생략할 수 있다.


t = (1, 2)
print(t)
print(type(t))

t2 = 3, 4
print(t2)
print(type(t2))

t3 = (5) # (5) == 5 괄호는 값이 하나일때 그냥 벗겨지므로, 괄호를 생략할경우 그냥 int형이 됨
print(t3)
print(type(3))

t4 = (5,)
print(t4)
print(type(t4))

(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
5
<class 'int'>
(5,)
<class 'tuple'>

In [ ]:
# tuple은 수정/삭제 불가능

t = (1,2,3,4,5)
# t[0] = 8 # 수정 불가능
# del t[0] # 삭제 불가능

In [ ]:
t = (1,2,3,4,5)

print(t[1]) # 튜플은 인덱싱이 가능하다.
print(t[2:]) # 튜플은 슬라이싱이 가능하다.

2
(3, 4, 5)

In [ ]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9)

print(t1+t2)
print(t1)
print(t2)

# 비파괴적인 연산은 가능하다

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5)
(6, 7, 8, 9)

In [ ]:
# Set 집합
# {} 를 사용하여 작성한다.
# 중복을 허용하지 않는다.
# 순서가 없다. (unordered)
# 리스트나 튜플은 순서가 있기 때문에 ordered
# 인덱싱과 슬라이싱을 통해 값을 꺼낼 수 있지만
# 딕셔너리와 셋은 순서가 없어 불가능하다.
# 중복을 허용하지 않는다는 특성을 활용하여 중복 제거 필터용으로 많이 사용된다.
# set 자료형에 저장된 값을 꺼내려면 리스트나 튜플로 변환하여 사용한다.
# set은 수정가능(mutable) 하다.

set = {1,1,2,2,2,3,4}
print(set)

{1, 2, 3, 4}

In [ ]:
s1 = set([1,1,2,2,3]) # set은 중복을 허용하지 않음, set을 활용해 중복된 값 제거
print(type(s1))
print(s1)

li = list(s1) # 중복된 값을 제거한 후 리스트로 사용
print(type(li))
print(li)
li[0]

<class 'set'>
{1, 2, 3}
<class 'list'>
[1, 2, 3]

1

In [ ]:
# 집합 계산

set1 = {1,2,3}
set2 = {2,3,4}

print(type(set1))
print(type(set2))

# 양쪽 집합에 모두 공통적으로 포함되는 원소
print(set1 & set2 ) # 교집합 (and)
print(set1.intersection(set2)) # 교집합

# 양쪽 집합 모든 원소
print(set1 | set2) # 합집합 (or)
print(set1.union(set2)) # 합집합

# 두개 집합의 차
print(set1 - set2) # 차집합
print(set1.difference(set2)) # 차집합

<class 'set'>
<class 'set'>
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{1}

In [ ]:
# set(집합)은 삽입 가능 mutable
set1 = {1,2,3}
print(set1)
set1.add(4) # data를 삽입할 때 사용 파괴적인 접근
print(set1) 

s1.update([5,6,7,8]) # 여러개를 삽입할 때 사용
print(set1)

# set은 삭제가 가능하다. mutable
# set은 인덱스 개념이 존재하지 않는다. 따라서 값을 지정하여 직접 삭제한다.

set1.remove(4) # set은 index 개념이 없으므로 해당하는 값을 삭제한다.
print(set1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3}

In [ ]:
# Quiz
# Q1. 예) 학번을 입력하세요 >> 31025 
#     출력) 3학년 10반 25번

std_num = input('학번을 입력하세요 >> ')

print(f'{std_num[0]}학년 {std_num[1:3]}반 {std_num[3:]}번')

학번을 입력하세요 >> 31025
3학년 10반 25번

In [ ]:
# Q2. 입력) 차량 번호를 입력하세요 >> 서울2가1234 
#           차량 번호를 입력하세요 >> 288가1234 
#     출력) 서울2가1234의 차량번호 끝 4자리는 1234입니다.

c_n = input('차량 번호를 입력하세요 >> ')
print(f'{c_n}의 차량번호 끝 4 자리는 {c_n[-4:]}입니다.')

차량 번호를 입력하세요 >> 서울2가  1234
서울2가  1234 의 차량번호 끝 4 자리는 234 입니다.

In [ ]:
# Q3. 홀수 갯수의 문자열을 입력받아 가운데 글자를 추출하는 프로그램을 구현하시오
#     입력 ) 문자열을 홀수로 입력하세요 >> austins
#     출력 ) 문자열의 가운데 글자는 t입니다.

ctx = str(input('문자열을 홀수로 입력하세요 >> '))
print(ctx[int(len(ctx)/2)])
print(ctx[len(ctx)//2])
# round 함수는 1.5와 2.5에서 1과 2로 나오는 오류 존재 (가장 가까운 10의 배수를 출력하는 알고리즘 때문)

문자열을 홀수로 입력하세요 >> 12345
3
3

In [ ]:
# [1,2,3,4,5,6,7,8,9] 의 3번째 요소부터 7번째 요소만 추출한 결과에서
# 2번째 요소를 출력하는 프로그램을 구현하세요.
# 한번에

obj = [1,2,3,4,5,6,7,8,9]
print(obj[2:7][1])

4

In [ ]:
######################
# if
######################

# 특정 조건을 만족하는지 여부에 따라 실행되는 코드가 달라져야 할 때 사용된다.
# 날씨가 맑으면 소풍을 가고 아니면 공부를 한다.

# if 조건식 :
#   만족할 때 실행 코드
# else : 
#   만족하지 못할 떄 실행 코드

# if 맑으면 :
#     소풍을 간다.
# else :
#     공부를 한다.

if True :
  print('만족')
else :
  print('불만족')

if False :
  print('만족')
else :
  print('불만족')

만족
불만족

In [ ]:
age = int(input('나이를 입력하세요 >> '))
if age < 10:
  print('당신은 유아입니다.')
elif age < 20:
  print('당신은 10대 입니다.')
elif age < 30:
  print('당신은 20대 입니다.')
elif age < 40:
  print('당신은 30대 입니다.')
elif age < 50:
  print('당신은 40대 입니다.')
elif age < 60:
  print('당신은 50대 입니다.')
elif age < 70:
  print('당신은 60대 입니다.')
else :
  print('당신은 노인입니다.') # 파이썬은 들여쓰기에 민감

나이를 입력하세요 >> 37
당신은 30대 입니다.

In [ ]:
# 입력 ) 당신의 점수를 입력하세요 >>> 95
# 출력 ) 당신의 점수는 ?? 점이고 학점은 A학점 입니다.

scr = int(input('당신의 점수를 입력하세요 >>> '))
grd = ''
if scr >= 90:
  grd = 'A'
elif scr >= 80:
  grd = 'B'
elif scr >= 70:
  grd = 'C'
elif scr >= 60:
  grd = 'D'
else :
  grd = 'F'
print(f'당신의 점수는 {scr}점이고 학점은 {grd}학점 입니다.')

당신의 점수를 입력하세요 >>> 12
당신의 점수는 12점이고 학점은 F학점 입니다.

In [ ]:
# 임의의 정수를 입력받아서 그 수가 3의 배수인지를 확인하는 프로그램을 작성하시오


num = int(input('정수를 입력하세요 >>> '))
num2 = int(input('배수인지 확인할 수를 입력하세요'))

if num%num2 == 0 :
  print(f'{num}은 {num2}의 배수입니다.')
else :
  print(f'{num}은 {num2}의 배수가 아닙니다.')

정수를 입력하세요 >>> 123
배수인지 확인할 수를 입력하세요11
123은 11의 배수가 아닙니다.

In [ ]:
# 정수 3개를 입력받아서 그 중에서 가장 큰 수를 찾아 출력하는 프로그램

n1 = int(input('정수1 입력 >>> '))
n2 = int(input('정수2 입력 >>> '))
n3 = int(input('정수3 입력 >>> '))

if n1 > n2 & n1 > n3 :
  best = n1
elif n2 > n3 :
  best = n2
else :
  best = n3

print(f'가장 큰 수는 {best}입니다.')

정수1 입력 >>> 3
정수2 입력 >>> 1
정수3 입력 >>> 3
가장 큰 수는 3입니다.