<a href="https://colab.research.google.com/github/kkkukkk/ai/blob/main/Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
'''
작성자 : 박진욱
작성일 : 2022-01-25
버전 : 0.1
'''

"""
작성자 : 박진욱
작성일 : 2022-01-25
버전 : 0.1
"""

# 보통 삼중 따옴표 주석은 
# 여러줄을 주석으로 
# 사용할 때 사용한다.

# 주석 붙이는 위치
print('Hellow World') # 보통 행의 우측 또는 위에 주석을 붙인다.

Hellow World

In [8]:
################
# 변수 Variable
################

score = 200 #score 변수에 200 값 저장
print(score)#score 변수에 저장된 값 출력

score = 300

print(score)

200
300

In [10]:
a = 1
A = 2

print(a)
print(A)

1
2

In [12]:
a1 = 'hi'
print(a1)

hi

In [14]:
1a = 'hi' #변수명 앞에 숫자가 붙으면 오류
print(1a)

SyntaxError: ignored

In [15]:
a = 20
b = 1500

student_avg = 20
math_sum = 1500

In [18]:
name = 'Alice'
age = 25
adress = '''우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''
boyfriend = None
height = 168.5

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

Alice
25

NameError: ignored

In [21]:
###################
# 기본 자료형 type
###################

a = int(1.9)
print(a)

b = int(True)
print(b)

c = int(False)
print(c)

1
1
0

In [32]:
a = 100
b = '100'
print(type(a))
print(type(b))

print(a)
print(b)
print(a==b)

c = int(b)
print(type(c))
print(a==c)

<class 'int'>
<class 'str'>
100
100
False
<class 'int'>
True

In [39]:
# 실수 float

a = float(1)
print(a)

b = float(True)
print(b)

c = float('3.14')
print(c)

d = float('100')
print(d)

1.0
1.0
3.14
100.0

In [47]:
# bool 논리 True or False

a = bool(0)
print(a)

b = bool()
print(b)

c = bool([])
print(c)

d = bool([100]) #bool형은 값이 존재하면 True, *bool형은 대문자*
print(d)

False
False
False
True

In [51]:
################
# 문자열 String
################

a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [57]:
# 문자열 인덱싱

# hello 파이썬은 0에서 시작한다.


s = 'Hello'
print(s[4])  # -> o는 4번째 인덱스

print(s[-1]) # 거꾸로 표현해도 동일한 위치가 나온다.(마지막 index는 -1)
print(s[-5])

print(s[-5]==s[0])

ss = "990211-1005432"
print(ss[7])

o
o
H
True
1

In [64]:
ss = "990211-1005432"
print(ss[0:2]) # 0번째 부터 2번째 미만까지...[start:stop:step]
print(ss[0:2]) # step 은 생략 가능...
print(ss[0:10:2]) # step 은 생략 가능...

99
99
901-0

In [68]:
# print

print('Hello 'World'')

SyntaxError: ignored

In [70]:
print("Hello 'World'")

Hello 'World'

In [76]:
print("Hello \"World\"") # \ 기호(back slash) 뒤의 문자는 글자로 취급한다.
print('Hello \'World\'')
print('Hello "World"')

Hello "World"
Hello 'World'
Hello "World"

In [79]:
print('Hello \n"World"') # \n 줄 바꿈

Hello
"World"

In [84]:
print('이름 \n전화')

이름
전화

In [86]:
print('이름\t연락처') # \t 일정로 띄어쓰기(Tab)
print('홍길동\t010-2020-2903')

이름	연락처
홍길동	010-2020-2903

In [88]:
print('재미있는','파이썬')

재미있는 파이썬

In [96]:
print('평점',end=':') # end = '문자' 밑이 아닌 옆에서 출력해라
print('5점')
print('안녕',end) # end 옆에 무언가 있어야함
print('하세요')

평점:5점

NameError: ignored

In [106]:
print('국어','영어','수학')
print('국어','영어','수학',sep='/') # sep = 중간에 ''안의 문자를 넣어 구분
print('국어','영어','수학',sep=',')
print('국어','영어','수학',sep='\n')
print('\n국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어,영어,수학
국어
영어
수학

국어
영어
수학

In [115]:
# %연산자

print(10)
print('%d' %10) # %d decimal 정수
print('%f' %3.14) # %f float 실수
print('%s' %'학생') # %s string 문자열

print('%d 을 입력하세요' %10) # %d decimal 정수
print('원주율은 %f 입니다.' %3.14) # %f float 실수
print('저는 %s 입니다.' %'학생') # %s string 문자열

std = "대학생"
print ('저는 %s 입니다.' %std)

print('%s 을 입력하세요' %10) # 어짜피 string으로 출력하므로 string으로 통일할 수 있다.
print('원주율은 %s 입니다.' %3.14)
print('저는 %s 입니다.' %'학생')

print('저는',std,'입니다.') # 변수를 넣어서도 출력 가능하다.(기본적으로 띄어쓰기 포함)

10
10
3.140000
학생
10 을 입력하세요
원주율은 3.140000 입니다.
저는 학생 입니다.
저는 대학생 입니다.
10 을 입력하세요
원주율은 3.14 입니다.
저는 학생 입니다.
저는 대학생 입니다.

In [121]:
print("%d" % 1)
print("%5d" % 1) # 5자리를 확보해서 오른쪽에 출력
print("%-5d" %1) # 5자리를 확보해서 왼쪽에 출력
print("%5d" %11)
print("%-5d" %1)

1
    1
1
   11
1

In [133]:
print('원주율은 %5f입니다.' % 3.14)
print('원주율은 %5.1f입니다.' % 3.14) # 5자리를 확보한 뒤 소숫점 1자리까지 출력
print('원주율은 %5.2f입니다.' % 3.14) # 5자리를 확보한 뒤 소숫점 2자리까지 출력
print('원주율은 %.2f입니다.' % 3.14) # 소숫점 2자리까지 출력

원주율은 3.140000입니다.
원주율은   3.1입니다.
원주율은  3.14입니다.
원주율은 3.14입니다.

In [134]:
name = 'kai'
print('내 이름은 %s 입니다.' % name)

내 이름은 kai 입니다.

In [146]:
height = 185.5
print('내 키는 %.1f 입니다.' % height) # 결과는 같지만 세밀한 조정이 필요할경우
print('내 키는 %s 입니다.' % height)
print('내 키는 %s이고 이름은 %s입니다.' %(height, name))
print('내 키는 {}이고 이름은 {}입니다.' .format(height,name))

내 키는 185.5 입니다.
내 키는 185.5 입니다.
내 키는 185.5이고 이름은 kai입니다.
내 키는 185.5이고 이름은 kai입니다.

In [141]:
# format()

zipcode = '06236'
print('우편번호 : %s' %zipcode)
print('우편번호 : {}'.format(zipcode))

우편번호 : 06236
우편번호 : 06236

In [153]:
# format()의 특징
print('My name is {}. I\'m {} years old'.format('James', 25))
print('My name is {1}. I\'m {0} years old'.format(25, 'James'))
# 결과를 출력할 순번을 지정할 수 있다.
print('My name is {name}. I\'m {age} years old'.format(age = 25, name = 'James'))
# 변수 값을 결과에 집어 넣을 수 있다.

My name is James. I'm 25 years old
My name is James. I'm 25 years old
My name is James. I'm 25 years old

In [156]:
# f-strings
# 파이썬 3.6 이후 부터 사용 가능

who = 'you'
how = 'happy'
print(f'{who} make me {how}') #앞에 f를 붙인 후 {}안에 변수를 넣어서 사용

you make me happy

In [160]:
# f-strings 은 계산도 가능
age = 25
print(f'내년에는 {age+1} 입니다.')

내년에는 26 입니다.

In [167]:
##############
# 입력 input()
##############

n = input('당신의 나이를 입력하세요 ') # 변수에 입력받는 것, 괄호 안에 나타낼 내용 작성 가능
print(f'당신의 나이는 {n}입니다.') # f-strings 사용

print('당신이 입력한 나이는',n,'입니다.') # 일반적 표현

당신의 나이를 입력하세요
당신의 나이는 입니다.
당신이 입력한 나이는  입니다.

In [180]:
a = input('이름을 입력하세요 ')
b = input('나이를 입력하세요 ')
# 1. 기본
print('당신의 이름은',a,'이고, 나이는 ',b,'입니다.')
# 2. %연산자
print('당신의 이름은 %s이고, 나이는 %s입니다.' %(a,b))
# 3. format()
print('당신의 이름은 {}이고, 나이는 {} 입니다.' .format(a,b))
# 4. f-strings
print(f'당신의 이름은 {a}이고, 나이는 {b}입니다.')

print(a,type(a))
print(a,type(b))

# input으로 입력받을 때 모두 string 타입으로 받는다.
# 입력받을때 int(input())으로 바꿔서 입력받으면 int형으로 받을 수 있음이

이름을 입력하세요 이름
나이를 입력하세요 19
당신의 이름은 이름 이고, 나이는  19 입니다.
당신의 이름은 이름이고, 나이는 19입니다.
당신의 이름은 이름이고, 나이는 19 입니다.
당신의 이름은 이름이고, 나이는 19입니다.
이름 <class 'str'>
이름 <class 'str'>

In [191]:
month = int(input('할부 개월 입력 : '))
price = round(50000 / month) # 반올림 함수

print(month,'개월 동안 매달 내는 금액은',price,'입니다.')
print('%d개월 동안 매달 내는 금액은 %s3입니다.' %(month,price))
print('{}개월 동안 매달 내는 금액은 {}입니다.' .format(month,price))
print(f'{month}개월 동안 매달 내는 금액은 {price}입니다.')

할부 개월 입력 : 3
3 개월 동안 매달 내는 금액은 16667 입니다.
3개월 동안 매달 내는 금액은 16667입니다.
3개월 동안 매달 내는 금액은 16667입니다.
3개월 동안 매달 내는 금액은 16667입니다.

In [192]:
num1 = float(input('실수 1 : '))
num2 = float(input('실수 2 : '))
sum = num1 + num2

print(f'{num1}과 {num2}의 합계는 {sum}입니다.')

실수 1 : 1
실수 2 : 2
1.0과 2.0의 합계는 3.0입니다.