<a href="https://colab.research.google.com/github/kkkukkk/ai/blob/main/Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##########################
#Function
##########################

# 함수 만들기

# 수학에서의 함수와 유사

# 딸기(input) -> 믹서기(함수) -> 딸기 주스(output)
# 바나나(input) -> 믹서기(함수) -> 바나나 주스(output)
# 사과(input) -> 믹서기(함수) -> 사과 주스(output)

# 함수의 가장 기본형
# def 함수명(input):
#   수행

In [2]:
def print_3(val):
  print(val)
  print(val)
  print(val)


print_3('hi')

hi
hi
hi

In [4]:
# 매개 변수를 2개 지정했으나 함수를 호출할 때 1개만 넣으면 에러가 발생한다.
def print_3(val,n):
  for i in range(n):
    print(val)
print_3('hello',5)

hello
hello
hello
hello
hello

In [6]:
# 가변 매개 변수
# 함수를 선언할 때 매개변수와 함수를 호출할 때 매개변수 같아야만 했다. 적어도 안되고 많아도 안된다.

def print_n_times(n, *val): # 개수가 몇 개든 상관없다.
  for i in range(n):
    for v in val:
      print(v)
    print()

print_n_times(3,'hi','hello','bye')
print_n_times(3,'hi','hello')

hi
hello
bye

hi
hello
bye

hi
hello
bye

hi
hello

hi
hello

hi
hello

In [14]:
# 입력 받은 정수들을 모두 더한 합을 반환하는 sum_all 함수를 작성하세요


def sum_all(*val):
  print(sum(val))

sum_all(1,2,3,4,5)

15

In [2]:
# 기본 매개변수
# 기본 매개변수를 뒤에 위치시켜야 오류 안남

def print_3(val, n=2):
  for i in range(n):
    print(val)

print_3('hi')
print_3('hi',4)

hi
hi
hi
hi
hi
hi

In [ ]:
def print_n_time(n, *args):  # 관용적으로 가변매개변수의 이름은 args를 사용한다.
  for i in range(n):
    for arg in arg:
      print(arg)
    print()

print_n_times(3,'hi','hello','good morning')

In [3]:
def test(a, b=10, c=100):
  print(a+b+c)

#1 기본형태
test(10,20,30)

#2 모든 매개변수 지정
test(a=10,b=20,c=30)

#3 순서를 섞어서 지정
test(a=10,b=20,c=30)

#4 일부만 지정
test(10, c= 30)

60
60
60
50

In [ ]:
def return_test():
  print("A위치입니다.")
  return # return을 만나면 끝난다.
  print("B위치입니다.") # 실행안됨

return_test()

In [4]:
def return_test():
  return 100 # 100을 가지고 나간다.

return_test()

100

In [6]:
def sum_all(start,end):
  output = 0
  for i in range (start, end+1):
    output += i

  return output

print('0에서 100까지의 합 : ', sum_all(0,100))
print('0에서 100까지의 합 : ', sum_all(0,1000))
print('0에서 100까지의 합 : ', sum_all(50,100))
print('0에서 100까지의 합 : ', sum_all(500,1000))

0에서 100까지의 합 :  5050
0에서 100까지의 합 :  500500
0에서 100까지의 합 :  3825
0에서 100까지의 합 :  375750

In [ ]:
# 재귀 함수
# 함수가 자기자신을 다시 호출함
# 사용을 권장하지 않음

def hello():
  print('hi')
  return hello()

hello()



hello()

In [19]:
# 반복문으로 팩토리얼 구하기

def facto(n):
  
  output = 1
  for i in range (1,n+1):
    output *= i
  return output


print('3! : ', facto(3))
print('5! : ', facto(5))
print('7! : ', facto(7))

3! :  6
5! :  120
7! :  5040

In [20]:
# 재귀(recursion)로 팩토리얼 구하기

# def facto(n):
#   for i in range (1,n):
#     n *= i
#   return n

def facto(n):
  if n == 0:
    return 1
  else:
    return n*facto(n-1)

print('3! : ', facto(3))
print('5! : ', facto(5))
print('7! : ', facto(7))

# 개발자들 사이에서는 재귀함수를 절대 사용하지 말자 라는 의견도 있다.
# 하지만 가독성이 좋고 코드가 간결해 보이는 장점도 있다.

3! :  6
5! :  120
7! :  5040

In [8]:
# 피보나치 수열 ( 토끼의 번식 속도, 바이러스 감염 속도....)

def fibo(n):
  if n == 1 or n == 2:
    return 1
  else:
    return fibo(n-1) + fibo(n-2)



print('fibonacci(1) : ' , fibo(1))
print('fibonacci(2) : ' , fibo(2))
print('fibonacci(3) : ' , fibo(3))
print('fibonacci(4) : ' , fibo(4))
print('fibonacci(5) : ' , fibo(5))

fibonacci(1) :  1
fibonacci(2) :  1
fibonacci(3) :  2
fibonacci(4) :  3
fibonacci(5) :  5

In [9]:
# 튜플과 함수
# 튜플은 함수의 리턴에 많이 사용된다. 함수의 리턴에 튜플을 사용하게 되면
# 여러개의 값을 리턴하고 할당 할 수 있기 때문이다.


def test():
  return (10, 20) # 튜플의 (소)괄호는 생략 가능하다.

a,b = test()

print(a)
print(b)

10
20

In [10]:
def add (a, b): # 그 인수를 담아서 함수에서 사용되는 매개변수 parameters
  return a+b

a = 3 # 함수로 들어가는 실제값을 인수 arguments
b = 4 #
c = add(a,b)
print(c)

# 인수와 매개변수
# 함수와 매서드 - 클래스 안에서 선언한 함수를 매서드라고 부름
# 객체와 인스턴스 -

7

In [ ]:
# 함수의 종류 4가지
# input 도 있고 output 도 있는 함수 (*****)
# input 은 없고 output 은 있는 함수 
# input 은 있고 output 은 없는 함수
# input 도 없고 output 도 없는 함수

In [13]:
# input 도 있고 output 도 있는 함수
def add(a,b):
  return a+b

print(add(1,2))

3

In [15]:
# input 은 없고 output은 있는 함수

def say():
  return 'hi'

print(say())

hi

In [18]:
# input 은 있고 output 은 없는 함수

def add(a,b):
  print('%d, %d의 합은 %d입니다.' %(a,b, a+b))

add(3,4)

3, 4의 합은 7입니다.

In [19]:
# 4. input 도 없고 output도 없는 함수

def say():
  print('hi')

say()

hi

In [ ]:
def add(a,b):
  return a+b


print(add(a=3, b=7))
print(add(b=7, a=3))

In [ ]:
def add_many(*args):
  result = 0

  for arg in args:
    result += arg
  return result


print(add_many(1,2,3)) 
print(add_many(1,2,3,4,5))

In [ ]:
def add_mul(choice, *args):
  if choice == 'add': 
    result = 0
    for i in args: 
      result += i
  elif choice == 'mul': 
    result = 1
    for i in args:
      result =  result * i
  return result

print(add_mul('add',1,2,3,4,5))

print(add_mul('mul',1,2,3))

In [ ]:
def add_mul(choice, *args):
    if choice == "add":
        result=0
        for i in args:
            result += i
  
    elif choice == "mul":
        result=1
        for i in args:
            result = result * i
    return result
print(add_mul("add",1,2,3,4,5))
print(add_mul("mul",1,2,3))

In [22]:
def add_and_mul(a,b):
  return a+b, a*b

result1, result2 = add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [26]:
def add_and_mul(a,b):
  return a+b
  return a*b # return되는 순간 끝

result = add_and_mul(3,4)
print(result)

7

In [28]:
def say_myself(name, old, man = True):
  print("나의 이름은 %s 입니다." % name)
  print(f'나의 이름은 {name} 입니다.')
  print("나는 %d 입니다." % old)
  print(f'나의 이름은 {old}입니다.')

  if man:
    print('남자입니다.')
  else :
    print("여자입니다.")

say_myself("박응응",27)
say_myself("박응응",27,True)
say_myself("박응응",27,False)

나의 이름은 박응응 입니다.
나의 이름은 박응응 입니다.
나는 27 입니다.
나의 이름은 27입니다.
남자입니다.
나의 이름은 박응응 입니다.
나의 이름은 박응응 입니다.
나는 27 입니다.
나의 이름은 27입니다.
남자입니다.
나의 이름은 박응응 입니다.
나의 이름은 박응응 입니다.
나는 27 입니다.
나의 이름은 27입니다.
여자입니다.

In [29]:
# 매개변수의 순서가 맞지 않으면 오류
# 초기값 설정한 매개변수는 항상 뒤쪽에 놓자

In [32]:
# 지역 변수 local variable와 전역변수 global variable

a = 1

def vartest(a): # 함수 안의 a와 함수 밖의 a는 다른 변수이다.
  a = a + 1

vartest(a)
print(a)

1

In [34]:
a = 1

def vartest():
  global a # 전역 변수 선언 but, 좋은 사용은 아님
  a = a + 1

vartest()
print(a)

2

In [35]:
# lambda 를 사용하면 코드를 더 깔끔하게 작성할 수 있고
# 코드의 복잡성을 줄여준다.
# 반면 재 사용성은 상당히 떨어진다.


# def add(a,b):
#   return a+b

add = lambda a, b: a+b # 위 함수의 람다 형태, return이 없어도 결과값을 돌려준다.

print(add(3,4))

7