In [23]:
#211

def 함수(문자열) :
    
    print(문자열)
    
함수("안녕")
함수("Hi")

# 호출 결과 :
# 안녕
# Hi

안녕
Hi

In [7]:
# 212

def 함수(a,b) :
    print(a+b)
    
함수(3,4)
함수(7,8)

# 호출 결과 :
# 7
# 15

In [ ]:
# 213

def 함수(문자열) :

    print(문자열)
    
함수()

# TypeError: 함수() missing 1 required positional argument: '문자열'

# 함수의 매개변수에 넣어줄 인수가 존재하지 않으므로 오류

In [22]:
#214

def 함수(a , b) :
    
    print(a+b)
    
함수("안녕",3)

# TypeError : must be str, not int
# "안녕" 이라는 문자열에 숫자를 연산하므로 오류 발생, 3을 문자열로 변환하여 해결

TypeError: can only concatenate str (not "int") to str

In [25]:
#215

def print_with_smile(val):
    print(f'{val} :D')

In [26]:
#216

def print_with_smile(val):
    print(f'{val} :D')
    
print_with_smile("안녕하세요")

안녕하세요 :D

In [29]:
#217

def print_upper_price(val):
    print(val*1.3)

print_upper_price(3000)

3900.0

In [31]:
#218

def print_sum(a,b):
    print(a+b)
    
print_sum(5,11)

16

In [36]:
#219

def print_arithmetic_operation(a,b):
    print(f'{a} + {b} = {a+b}')
    print(f'{a} - {b} = {a-b}')
    print(f'{a} * {b} = {a*b}')
    print(f'{a} / {b} = {a/b}')
    
print_arithmetic_operation(3,5)

3 + 5 = 8
3 - 5 = -2
3 * 5 = 15
3 / 5 = 0.6

In [47]:
#220

def print_max(a,b,c):
    if a>b and a>c:
        max = a;
    elif b>c:
        max = b;
    else:
        max = c;
    print(max)
        
print_max(1,2,3)

3

In [85]:
#221

def print_reverse(val):
    rev = ''
    for i in val:
        rev = i + rev
    print(rev)

#    print(f'{val[::-1]}')

print_reverse("python")

nohtyp

In [95]:
#222

def print_score(val):
    print(sum(val)/len(val))

print_score([1,2,3])

2.0

In [109]:
#223

def print_even(val):
    for i in val:
        if i%2 == 0 :
            print(i)

print_even([1,3,2,10,12,11,15])

2
10
12

In [112]:
#224

def print_keys(val):
    for keys in val:
        print(keys)
    
print_keys({"이름" : "김말똥", "나이": 30, "성별":0})

이름
나이
성별

In [122]:
#225

my_dict = {
    "10/26" : [100, 130, 100, 100],
    "10/27" : [10, 12, 10, 11]
}

def print_value_by_key (my_dict, keys):
    print(my_dict[keys])
        
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [188]:
#226

def print_5xn(val):
    num = int(len(val)/2)
    for i in range(num+1):
        print(f'{val[i*num : i*num+num]}')
        
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [199]:
#227

def print_mxn(val,a):
    num = int(len(val)/a)
    for i in range(num+1):
        print(f'{val[i*num : i*num+num]}')
        
print_mxn("아이엠어보이유알어걸",3)

아이엠
어보이
유알어
걸

In [207]:
#228

def calc_monthly_salary(val):
    mon = val / 12
    print(int(mon))

calc_monthly_salary(12000000)

1000000

In [208]:
#229

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
    
my_print(a=100, b=200)

# 실행결과 :
# 왼쪽: 100
# 오른쪽: 200

왼쪽: 100
오른쪽: 200

In [209]:
#230

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

    
my_print(b=100, a=200)

# 실행결과 :
# 왼쪽: 200
# 오른쪽: 100

왼쪽: 200
오른쪽: 100